.Login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #FFF9FE;
}
.subLogin{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #F0F0F0;
}

.title{
    font-size: 25px;
    background:  linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}

.logOptions{
    width: 250px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 20px;
}