.posiciones-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.posiciones-title {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #4d4d4d;
    font-weight: 700;
    padding: 0 10px;
    border-bottom: 2px solid #F0F0F0;
    list-style: none;
}
.posiciones-title li{
    text-align: center;
}

.posiciones-board {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.board-row {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #F0F0F0;
    list-style: none;
    
}

.board-row li {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4d4d4d;
}

.width-5 {
    width: 5%;
}
.width-15 {
    width: 15%;
}
.width-35 {
    width: 35%;
}
#align-left {
    justify-content: flex-start;
    padding-left: 10px;
}
.tained-item {
    background-color: #F0F0F0;
    border-bottom: 2px solid white;
}