.main{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #FFF9FE;
}


@media screen and (max-width:1000px) {
    .main{
        width: 100vw;
        height: 90%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
}